body {
    background-image: url(img/fondocarrito.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.logo {
    max-width: 50px;
    max-height: 50px;

}

.navbar-nav {
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.logoCarrito {
    max-width: 40px;
    max-height: 40px;

}

.contact {
    color: white;
    text-align: center;
    margin-left: 50px;
    text-decoration: underline;
    font-size-adjust: 20px;
}

.paginas {
    text-align: right;
    font-size: 16px;
    margin-top: 50px;
    padding: 0px 40px;
}

.paginas a {
    margin-left: 10px;
    padding-left: 10px;
    color: white;
    text-decoration: none;
    border-left: 1px solid white;
}

a:visited {
    color: white;
}

input {
    display: block;
    margin-top: 1em;
}


.formul {
    color: white;
}

.contenedor-formulario {
    margin: auto;
    margin-top: 30px;
    padding: 30px;

}

.maps {
    text-align: center;
    color: white;
    text-decoration: underline;
}

.grupo-input {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    max-width: 500px;
    max-height: auto;
}

.grupo-input input {
    box-shadow: 5px 4px 4px black;
    padding: 10px;
    border-radius: 3px;
    border: none;
}



label {
    color: white;
    padding-right: 50px;
}

#error {
    max-width: 800px;
    max-height: 800px;

}